<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      Registrarme
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label position="floating" color="tertiary">Correo</ion-label>
    <ion-input type="text" color="tertiary" [(ngModel)]="datos.mail"  required="true"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" color="tertiary">Contraseña</ion-label>
    <ion-input type="password" color="tertiary" [(ngModel)]="datos.pass" required="true"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" color="tertiary">Repita la ontraseña</ion-label>
    <ion-input type="password" color="tertiary" [(ngModel)]="datos.pass2" required="true"></ion-input>
  </ion-item>
  <br>
  <br>
  <br>
  <ion-button shape="round" size="large" color="secondary" (click)="registrar()">
    Registrar
    <ion-icon name="checkmark"></ion-icon>
  </ion-button>

</ion-content>
